@font-face{font-family:flexslider-icon;src:url(/wp-content/plugins/ml-slider/assets/sliders/flexslider/fonts/flexslider-icon.eot);src:url(/wp-content/plugins/ml-slider/assets/sliders/flexslider/fonts/flexslider-icon.eot?#iefix) format('embedded-opentype'),url(/wp-content/plugins/ml-slider/assets/sliders/flexslider/fonts/flexslider-icon.woff) format('woff'),url(/wp-content/plugins/ml-slider/assets/sliders/flexslider/fonts/flexslider-icon.ttf) format('truetype'),url(/wp-content/plugins/ml-slider/assets/sliders/flexslider/fonts/flexslider-icon.svg#flexslider-icon) format('svg');font-weight:400;font-style:normal}.flex-container a:hover,.flex-slider a:hover{outline:0}.flex-control-nav,.flex-direction-nav,.slides,.slides>li{margin:0;padding:0;list-style:none}.flex-pauseplay
span{text-transform:capitalize}.flexslider{margin:0;padding:0}.flexslider .slides>li{display:none;-webkit-backface-visibility:hidden}.flexslider .slides
img{width:100%;display:block}.flexslider .slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0}html[xmlns] .flexslider
.slides{display:block}* html .flexslider
.slides{height:1%}.no-js .flexslider .slides>li:first-child{display:block}.flexslider{margin:0
0 60px;background:#fff;border:4px
solid #fff;position:relative;zoom:1;border-radius:4px;-o-box-shadow:'' 0 1px 4px rgba(0,0,0,.2);box-shadow:'' 0 1px 4px rgba(0,0,0,.2)}.flexslider
.slides{zoom:1}.flexslider .slides
img{height:auto;-moz-user-select:none}.flex-viewport{max-height:2000px;transition:all 1s ease}.loading .flex-viewport{max-height:300px}.carousel
li{margin-right:5px}.flex-direction-nav{*height:0}.flex-direction-nav
a{text-decoration:none;display:block;width:40px;height:40px;margin:-20px 0 0;position:absolute;top:50%;z-index:10;overflow:hidden;opacity:0;cursor:pointer;color:rgba(0,0,0,.8);text-shadow:1px 1px 0 rgba(255,255,255,.3);transition:all .3s ease-in-out}.flex-direction-nav a:before{font-family:flexslider-icon;font-size:40px;display:inline-block;content:'\f001';color:rgba(0,0,0,.8);text-shadow:1px 1px 0 rgba(255,255,255,.3)}.flex-direction-nav a.flex-next:before{content:'\f002'}.flex-direction-nav .flex-prev{left:-50px}.flex-direction-nav .flex-next{right:-50px;text-align:right}.flexslider:hover .flex-direction-nav .flex-prev{opacity:.7;left:10px}.flexslider:hover .flex-direction-nav .flex-prev:hover{opacity:1}.flexslider:hover .flex-direction-nav .flex-next{opacity:.7;right:10px}.flexslider:hover .flex-direction-nav .flex-next:hover{opacity:1}.flex-direction-nav .flex-disabled{opacity:0!important;filter:alpha(opacity=0);cursor:default;z-index:-1}.flex-pauseplay
a{display:block;width:20px;height:20px;position:absolute;bottom:5px;left:10px;opacity:.8;z-index:10;overflow:hidden;cursor:pointer;color:#000}.flex-pauseplay a:before{font-family:flexslider-icon;font-size:20px;display:inline-block;content:'\f004'}.flex-pauseplay a:hover{opacity:1}.flex-pauseplay a.flex-play:before{content:'\f003'}.flex-control-nav{width:100%;position:absolute;bottom:-40px;text-align:center}.flex-control-nav
li{margin:0
6px;display:inline-block;zoom:1;*display:inline}.flex-control-paging li
a{width:11px;height:11px;display:block;background:#666;background:rgba(0,0,0,.5);cursor:pointer;text-indent:-9999px;-o-box-shadow:inset 0 0 3px rgba(0,0,0,.3);box-shadow:inset 0 0 3px rgba(0,0,0,.3);border-radius:20px}.flex-control-paging li a:hover{background:#333;background:rgba(0,0,0,.7)}.flex-control-paging li a.flex-active{background:#000;background:rgba(0,0,0,.9);cursor:default}.flex-control-thumbs{margin:5px
0 0;position:static;overflow:hidden}.flex-control-thumbs
li{width:25%;float:left;margin:0}.flex-control-thumbs
img{width:100%;height:auto;display:block;opacity:.7;cursor:pointer;-moz-user-select:none;transition:all 1s ease}.flex-control-thumbs img:hover{opacity:1}.flex-control-thumbs .flex-active{opacity:1;cursor:default}@media screen and (max-width:860px){.flex-direction-nav .flex-prev{opacity:1;left:10px}.flex-direction-nav .flex-next{opacity:1;right:10px}}body .metaslider .coin-slider,
body .metaslider .nivoSlider,
body .metaslider .nivoSlider img,
body .metaslider .rslides,
body .metaslider .rslides li,
body .metaslider .flexslider ul.slides,
body .metaslider .flexslider .slides li,
body .metaslider .flexslider .slides ul,
body .metaslider .flexslider .slides ol,
body .metaslider .flexslider .slides img,
body .metaslider .flexslider .flex-direction-nav,
body .metaslider .flexslider .flex-direction-nav
li{border:0;margin:0;list-style-type:none;list-style:none;padding:0;line-height:normal;max-width:none;max-height:none}.metaslider{position:relative;z-index:0}.metaslider.fullwidth{overflow:hidden}.metaslider
.caption{padding:5px
10px;word-wrap:break-word}.metaslider .caption-wrap{position:absolute;bottom:0;left:0;background:black;color:white;opacity:0.7;margin:0;display:block;width:100%;line-height:1.4em}.metaslider
img{height:auto;padding:0;margin:0;-moz-user-select:none}.metaslider
a{outline:none}.metaslider.ms-left{float:left;margin:0
20px 20px 0}.metaslider.ms-right{float:right;margin:0
0 20px 20px}.metaslider li:before,
.metaslider li:after{content:"" !important;display:none !important;bottom:auto !important;margin:0
!important}.metaslider .caption-wrap .caption
img{width:auto}.metaslider .slides
img{width:100%;display:block}.metaslider
.flexslider{background:none;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;border:0;margin:0
0 40px;max-width:none;max-height:none}.metaslider .flex-control-nav{border:0;margin:auto;list-style-type:none;list-style:none;padding:0;bottom:-27px;line-height:11px;z-index:2}.metaslider .flex-control-nav
li{margin:0}.metaslider .flex-control-nav li
a{margin:0
6px;padding:0}.metaslider .flexslider .slides
li{position:relative;height:auto}.metaslider .flex-viewport{direction:ltr}.metaslider .flex-direction-nav
a{-moz-transition:all .3s ease;transition:all .3s ease}.metaslider .flexslider .slides
p{margin:0}.metaslider
.flexslider.filmstrip{margin-top:10px}.metaslider .flexslider.filmstrip .slides
li{cursor:pointer;opacity:0.5}.metaslider .flexslider.filmstrip .slides li.flex-active-slide,
.metaslider .flexslider.filmstrip .slides li:hover,
.metaslider .flexslider.filmstrip .slides li:focus{opacity:1.0 !important}.metaslider .flex-control-thumbs
li{width:auto}.metaslider ol.flex-control-thumbs img,
#content .metaslider ol.flex-control-thumbs
img{margin:10px
5px 0;width:auto}.metaslider.nav-hidden
.flexslider{margin-bottom:0}.metaslider.nav-hidden.add-margin
.flexslider{margin-bottom:40px}.metaslider .flexslider .flex-direction-nav li a:before{content:none!important}.metaslider .flexslider .flex-direction-nav li
a{width:30px;height:30px;border:0;margin:-20px 0 0;box-shadow:none!important;display:block;background-color:transparent;background-image:url('/wp-content/plugins/ml-slider/assets/sliders/flexslider/bg_direction_nav.png');background-repeat:no-repeat;position:absolute;top:50%;z-index:10;cursor:pointer;text-indent:-9999px;opacity:0;-webkit-transition:all .3s ease;-moz-transition:opacity .25s ease-in-out;transition:all .3s ease}.metaslider .flex-direction-nav .flex-next{background-position:left 0}.metaslider .flex-direction-nav .flex-next{background-position:right 0;text-align:left;text-indent:9999px}.metaslider .flexslider:hover .flex-next{opacity:0.8;right:5px}.metaslider .flexslider:hover .flex-prev{opacity:0.8;left:5px;text-indent:-9999px}.metaslider .flexslider:hover .flex-next:hover,
.metaslider .flexslider:hover .flex-prev:hover{opacity:1}.metaslider .flexslider .flex-direction-nav .flex-disabled{cursor:default;pointer-events:none}.metaslider .flexslider .flex-control-nav
a{box-shadow:none !important}.metaslider .flexslider .slides>li{position:relative}.metaslider .rslides_nav,
.metaslider .rslides_tabs
a{box-shadow:none !important}.metaslider
.rslides_tabs{margin:0
0 40px}.metaslider .rslides_nav:focus,
.metaslider .rslides_nav:hover{color:#fff}div.metaslider .theme-default
.nivoSlider{-webkit-box-shadow:0 0 0;-moz-box-shadow:0 0 0;box-shadow:0 0 0}.metaslider .slider-wrapper .nivo-directionNav a,
.metaslider .slider-wrapper .nivo-controlNav a,
.metaslider .slider-wrapper
img{border:0;box-shadow:none;list-style-type:none;list-style:none;padding:0;line-height:normal;max-width:none;max-height:none}div.metaslider .slider-wrapper .nivo-controlNav
a{transition:none}.metaslider .coin-slider{max-width:100%;overflow:hidden}.metaslider .coin-slider .cs-buttons a,
.metaslider .coin-slider>a{box-shadow:none !important}.metaslider .coin-slider a[href="javascript:void(0)"]{cursor:default !important}